<!DOCTYPE html>
<html>
    <head>
        <title>TODO APP</title>
    </head>
    <body>
        <h1>My To-Do List</h1>

<a href="/logout">Logout</a>

<br><br>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}

<br><br>

        <form action="/" method="POST">
            <input type="text" name="task" placeholder="Enter task">
            <select name="priority">
                <option value="High">High🔴</option>
                <option value="medium">Medium🟡</option>
                <option value="low">Low🟢</option>

            </select>
            <button type="submit">Add Task</button>
        </form>

        <br>

        <a href="/?filter=all">All</a>
        <br><br>
        <a href="/?filter=done">Done</a>
        <br><br>
        <a href="/?filter=pending">Pending</a>

        <h3>Tasks</h3>

        <ul>
            {% for task in tasks %}
            <li>

                {% if task.done %}
                    <s>{{ task.task }}</s>
                {% else %}
                    {{ task.task }}
                {% endif %}

                <br>

                priority : {{ task.priority }}

                <br>

                <form action="/toggle/{{ task.id }}" method="post" style="display:inline;">
                    <button type="submit">
                        {% if task.done == 1 %}
                            undone👎
                        {% else %}
                            Done👍
                        {% endif %}
                    </button>
                </form>

                <br><br>

                <form action="/edit/{{ task.id }}" method="post">
                    <input name="task" placeholder="Edit task">
                    <select name="priority">
                        <option value="high">High</option>
                        <option value="medium">Medium</option>
                        <option value="low">Low</option>
                    </select>

                    <button type="submit">Edit🫥</button>

                </form>

                <br><br>

                    <form action="/delete/{{ task.id }}" method="POST" style="display:inline;" onsubmit="return confirm('Are you confirm you want to delete?');">
                        <button type="submit">Delete🗑️</button>
                    </form>

            </li>
            {% endfor %}
        </ul>

    </body>

</html>
