<!DOCTYPE html>
<html>
    <head>
        <title>signup</title>
    </head>
    <body>
        <h2>Signup</h2>

        <form action="/signup" method="post">
            <input type="text" name="username" placeholder="username">
            <input name="password" placeholder="password" type="password">
            <button type="submit">Signup</button>
        </form>

        <a href="/login">Login</a>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}

    </body>
</html>
